<tr class="game-row <%= if @game.state.game_over, do: "game-over", else: @game.state.current_player == @conn.assigns.player && "your-turn" %>">
  <td>
    <%= link @game.name, to: Routes.page_path(@conn, :show, @game.name) %>
  </td>
  <td>
    <%= show_players(@game.state) %>
  </td>
  <td>
    <%= if @game.state.game_over, do: "game over", else: "#{@game.state.current_player}'s turn" %>
  </td>
</tr>
